.container.comment
  .comment_header.header
    .header_left
      = link_to 'â†', root_path
    .header_center
      %p Comment
    .header_right
  .comment_body
    - @article.comments.each do |comment|
      .comment_content
        .comment_avatar
          = image_tag comment.user.avatar_image
        .comment_text
          .comment_userName
            = comment.user.username
          %p= comment.content

    .comment_create
      = image_tag 'comment.svg'
      .comment_textarea
        = text_area_tag :comment_content, '', class: 'sm'
      .comment_add
        Send