.container
  .header
    = link_to new_article_path do
      = image_tag 'photo-camera.svg'
  - @articles.each do |article|
    .article
      = link_to article.user.profile, class: 'article_header' do
        .article_header_userImage
          = image_tag article.user.avatar_image
        .article_header_info
          .article_header_userName
            = article.user.username
          .article_header_time
            = article.created_at
      .article_body
        .article_body_image
          - article.images.each do |image|
            = image_tag(image)
        .article_body_icon
          .article_body_icon_heart
            = image_tag 'heart.svg'
          .article_body_icon_comment
            = image_tag 'comment.svg'
          .article_body_icon_share
            = image_tag 'share.svg'
        .article_body_likeCount
          aaaaaaaaaaa
        .article_body_content
          %p= article.user.username
          %p= article.content
        = link_to '削除する', article_path(article), data: {method: 'delete', confirm: '本当に削除してもよろしいですか?'}