.container
  = render 'commons/header'
  = render 'commons/tabs'

  - articles.each do |article|
    .article{data: {article_id: article.id}}
      = link_to account_path(article.user), class: 'article_header' do
        .article_header_userImage
          = image_tag article.user.avatar_image
        .article_header_info
          .article_header_userName
            = article.user.username
          .article_header_time
            = article.created_at
      .article_body
        .article_body_image{class: "image-count-#{article.images.length}"}
          - article.images.each do |image|
            = image_tag(image)
        .article_body_icon
          .article_body_icon_heart.inactive-heart
            = image_tag 'heart.svg'
          .article_body_icon_heart.active-heart.hidden
            = image_tag 'heart-active.svg'
          .article_body_icon_comment
            = link_to article_comments_path(article) do
              = image_tag 'comment.svg'
          .article_body_icon_share
            = image_tag 'share.svg'
        .article_body_likeCount
          %p= likes_count_display(article)

        .article_body_content
          %p= article.user.username
          %p= article.content
        - if article.user == current_user
          .article_body_delete
            = link_to article_path(article), data: {method: 'delete', confirm: '本当に削除してもよろしいですか?'} do
              =image_tag 'delete.svg'

= javascript_pack_tag 'article'