.container.profile#account-id{data: {account_id: @user.id, current_id: current_user.id}}
  .profile_header.header
    .header_left
      = link_to '←', root_path
    .header_center
      = @user.username
    .header_right
      - if @user == current_user
        = link_to 'Log out', destroy_user_session_path, method: :delete
      - else
        %button.unfollow.hidden Unfollow
        %button.follow.hidden Follow
        -# - if current_user&.has_followed?(@user)
        -#   = link_to 'Unfollow', account_unfollows_path(@user), data: {method: 'post'}
        -# - else
        -#   = link_to 'Follow', account_follows_path(@user), data: {method: 'post'}
  .profile_body
    .profile_body_userImage
      - if @user == current_user
        = link_to edit_profile_path do
          = image_tag @user.avatar_image
      - else
        = image_tag @user.avatar_image
    .profile_body_basicInfo
      .profile_body_basicInfo_post
        %p= @user.articles.count
        %span Posts
      .profile_body_basicInfo_followers
        %p= @user.followers.count
        %span Followers
      .profile_body_basicInfo_following
        %p= @user.followings.count
        %span Following

  - @user.articles.each do |article|
    .profileArticle
      .article_body_image
        - article.images.each do |image|
          = image_tag(image)

= javascript_pack_tag 'follow'